*{
    color: white;
    background-color: lightseagreen;
    font-size: 24px;
    font-weight: 700;
    font-family:'Courier New', Courier, monospace, sans-serif;
}
#root{
    margin: auto;
    width: 50%;
    display: inline;
}
.question{
    width: fit-content; 
    height: fit-content;
    padding: 10px;
    margin: 5px;
    border-radius: 12px;
    border-style: dashed;
    border-color: white;
    text-align: center;
}

.right{
    background-color: lightgreen;
}
.wrong{
    background-color: lightcoral;
}