*{
    margin: 0;
    padding: 0;
}
.root {
    margin: auto;
    width: 50%;
}
.row{
    text-align: center;
}
.block{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: -2px;
}
.odd{
    background-color: red;
}
.even{
    background-color: yellow;
}